#success {
      background: linear-gradient(135deg, #e08f2c, #dddddc);
      display: flex;
      flex-direction: column;
      padding: 5%;
      align-items: center;
      justify-content: center;
      height: 62.1vh;
}

#success-header {
      width: 40%;
      margin-bottom: 5%;
}