.post-menu {
	position: relative;
	display: inline-block;
}

.post-button {
	background: none;
	border: none;
	cursor: pointer;
	font-size: 1.5rem;
}

.post-dropdown {
	position: absolute;
	left: 50px;
	top: 0;
	background-color: transparent;
	/* border: 1px solid #ddd; */
	box-shadow: 8px 8px 16px rgba(0, 0, 0, 1);
	z-index: 1;
}

.post-dropdown > div {
	padding: 12px 16px;
}
