/* #groups {
	grid-column: 1 / 2;
	display: flex;
	flex-direction: column;
	justify-content: center;
} */

#groups-body {
	background: linear-gradient(-140deg, #e08f2c, #dddddc, #223f5c);
}

.create-group-link {
	padding: 30px;
      display: flex;
      justify-content: space-between;
}

#groups-body-header {
	display: flex;
	justify-content: center;
	align-items: center;
}

#groups {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 0;
	/* height: 100vh; */

	padding-bottom: 150px;
	padding-top: 50px;
	flex-wrap: wrap;
	gap: 50px;
}

.cards {
	display: flex;
	align-items: center;
	width: 100%;
	max-width: 670px;
	padding: 100px 40px 100px 20px;
	border-radius: 60px;
	background: #dddddc;
	height: 420px;
	margin: 8px;
}

.group-details-past-event-cards {
      display: flex;
	align-items: center;
	width: 500px;
	max-width: 670px;
	padding: 100px 40px 100px 20px;
	border-radius: 60px;
	background: #dddddc;
	height: 320px;
	margin: 8px;
}

.members-groups-cards {
      display: flex;
	align-items: center;
	width: 360px;
	max-width: 670px;
	/* padding: 15px 10px 15px 10px; */
	border-radius: 60px;
	background: #dddddc;
	height: 250px;
}

.members-groups-cards img {
      max-width: 180px;
	width: 20vw;
	height: 200px;
	object-fit: cover;
	margin-left: -20px;
	margin-right: 10px;
	border-radius: 40px;
	flex-shrink: 0; /* Prevent the image from shrinking */
}

.members-groups-cards .stats {
	display: flex;
	gap: 10px;
	list-style: none;
	width: 150px;
	flex-direction: column;
	/* margin: 0 0 24px; */
	justify-content: space-around;
	padding: 0;
	align-items: center;
}

#members-groups-display-style-direction {
      flex: 1; /* Allow the content area to take available space */
	display: flex;
	flex-direction: column;
	flex-wrap: wrap; /* Enable wrapping for the content */
	justify-content: center;
	align-items: center;
}

#members-groups-display-style-direction h2 {
      font-size: 18px;
}

#members-groups-display-style-direction .stats {
      display: flex;
	gap: 10px;
	list-style: none;
	width: 150px;
	flex-direction: column;
	/* margin: 0 0 24px; */
	justify-content: center;
	padding: 0;
	align-items: center;
}

#members-groups-display-style-direction .stats li {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.group-details-past-event-cards img {
      max-width: 280px;
	width: 10vw;
	height: 220px;
	object-fit: cover;
	margin-left: -30px;
	margin-right: 20px;
	border-radius: inherit;
}

#group-details-past-display-style-direction h2 {
      font-size: 20px;
}

#group-details-past-display-style-direction h3 {
      font-size: 12px;
}

.cards img {
	max-width: 280px;
	width: 32vw;
	height: 270px;
	object-fit: cover;
	margin-left: -70px;
	margin-right: 40px;
	border-radius: inherit;
}

#display-style-direction {
      /* border: 2px solid blue; */
      width: 100%;
      max-width: 650px;
      /* display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; */
}

#keep-in-style {
      display: flex;
      flex-direction: column;
      width: 100%;
      /* border: 2px solid red; */
}

#keep-in-style h2,
#keep-in-style h3 {
	font-weight: 400;
      width: 65%;
      word-wrap: break-word;
      overflow-wrap: break-word;
}

#keep-in-style h3,
.stats label {
	opacity: 0.5;
}

#keep-in-style h2 {
	font-size: 28px;
	margin: 0;
}

#keep-in-style h3 {
	font-size: 16px;
	margin: 0 0 20px;
}

.cards .stats {
	display: flex;
	gap: 24px;
	list-style: none;
	margin: 0 0 24px;
	padding: 0;
	align-items: flex-end;
}

.cards .stats var {
	display: flex;
	gap: 24px;
	list-style: none;
	margin: 0 0 24px;
	padding: 0;
	align-items: flex-end;
}

@media (width <= 720px) {
	.cards {
		margin: 0 40px;
		padding-left: 50px;
		padding-right: 50px;
		width: 100%;
		text-align: center;
		flex-direction: column;
	}

	.cards div h2 {
		font-size: 30px;
	}

	.cards img {
		max-width: 1000px;
		width: 100%;
		margin: -100px 0 30px 0;
	}

	.cards .stats var {
		min-width: 90px;
	}
}

.create-group-link .nav-link {
	font-size: 1.3em;
	text-decoration: none;
	font-weight: 800;
	font-family: "Open Sans", sans-serif;
	color: #223f5c;
}

.create-group-link .nav-link:hover {
	color: #ea8d89;
	text-decoration: underline;
}

/* #groups {
	display: flex;
	grid-template-columns: 2fr 1fr;
	gap: 20px;
	align-items: start;
	min-height: 100vh;
	padding-left: 250px;
	padding-right: 300px;
}

#each-group {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
	position: relative;
	width: 100%;
	padding-top: 25px;
}

.mencrytoo-carousel-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 10px;
	border: 1px solid #444;
	margin: 5px;
}

.carousel-image {
	width: 100px;
	height: 176px;
	margin-right: 20px;
}

#carousel-navigation {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
}

.nav-indicator {
	margin: 0 15px;
	font-size: 1rem;
}

.nav-button {
	background: transparent;
	border: none;
	font-size: 1.5rem;
	cursor: pointer;
	color: #8a7c9c;
}

.group-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 10px;
	gap: 15px;
}

#each-group h6 {
	font-size: 13px;
	font-weight: 900;
	color: #8a7c9c;
}

.group-content h5 {
	font-size: 13px;
	color: #b4b1b1;
	font-weight: bolder;
}

.group-content p {
	font-size: 15px;
} */
