.error {
  color: red;
}

.signup-body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 450px;
	background: #faf5e4;
	width: 400px;
	/* change width to 100% if want modal directly centered */
	overflow: hidden;
	border-radius: 25px;
      flex-direction: column;
}

.login {
	position: absolute;
	width: 000px;
	height: 000px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 20px;
      padding: 25px;
}


.form-signup h1 {
      margin: 0;
	font-size: 40px;
	color: #e08f2c;
}

.login input {
	position: relative;
	width: 165px;
	padding: 5px 15px;
	background: transparent;
	border: 2px solid #223f5c;
	border-radius: 40px;
	font-size: 0.9em;
	color: #e08f2c;
	box-shadow: none;
	outline: none;
}

.form-signup label input::placeholder {
	color: #e08f2c;
}

.login .form-signup {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding-top: 70px;
      padding-bottom: 50px;
      gap: 10px;
}

.form-signup div {
	padding-bottom: 15px;
}

.signup {
	width: 165px;
	background: linear-gradient(45deg, #e08f2c, #223f5c);
	border: none;
	cursor: pointer;
	border-radius: 40px;
	padding: 12px 25px;
	font-size: 0.9em;
      margin-bottom: 20px;
      color: #dddddc;
}

.form-signup p {
      margin: 0;
      display: flex;
      justify-content: space-around;
}