#update-event {
	display: flex;
	flex-direction: column;
	padding: 0;
      margin: 0;
	align-items: center;
	justify-content: center;
      background: linear-gradient(135deg, #e08f2c, #dddddc); 
}


#update-event .create-event-form #create-group-image-upload #file-upload {
      font-weight: 550;
}

#update-event .create-event-form h3 {
      font-weight: 600;
}