/* TODO: Add sitewide styles */

:root {
	--steel-blue: #3b99d9;
	--peach: #ea8d89;
	--orangy: #e08f2c;
	--light-gray: #dddddc;
	--deep-blue: #223f5c;
	--white-smoke: #ecf0f1;
	--silver: #bec3c7;
	--dim-gray-2: #49647b;
	--dark-slate-gray-2: #404047;
	--black: #192024;
	--dim-gray-3: #676770;
	--light-slate-gray: #8e8e9c;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	color: #6a859c;
	background-color: #edeff2;
	font-family: Open Sans, sans-serif;
	font-size: 16px;
	line-height: 20px;
	margin: 0;
	padding: 0;
	min-height: 100%;
}

h1 {
	margin-top: 0;
	margin-bottom: 10px;
	font-size: 38px;
	font-weight: 700;
	line-height: 44px;
}

h2 {
	color: #676770;
	text-align: center;
	margin-top: 0;
	margin-bottom: 10px;
	font-size: 32px;
	font-weight: 300;
	line-height: 36px;
}

h3 {
	color: #676770;
	letter-spacing: 7px;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 20px;
	font-weight: 300;
	line-height: 30px;
}

h4 {
	margin-top: 0;
	margin-bottom: 10px;
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
}

h5 {
	color: #676770;
	letter-spacing: 4px;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 20px;
	font-size: 18px;
	font-weight: 300;
	line-height: 20px;
}

h6 {
	margin-top: 0;
	margin-bottom: 10px;
	font-size: 12px;
	font-weight: 700;
	line-height: 18px;
}

img {
	max-width: 100%;
	vertical-align: middle;
	display: inline-block;
}

p {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: 300;
	line-height: 25px;
}

.loader {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.w-icon-nav-menu:before {
	content: "\e602";
}

.w-container {
	margin-left: auto;
	margin-right: auto;
	justify-content: flex-start;
	width: 40%;
	/* max-width: 940px; */
}

.w-container-tag-div {
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 50%;
	/* max-width: 1500px; */
}

.w-container:before,
.w-container:after {
	content: " ";
	display: table;
	grid-column-start: 1;
	grid-row-start: 1;
	grid-column-end: 2;
	grid-row-end: 2;
}
.w-container:after {
	clear: both;
}

@media screen and (max-width: 991px) {
	.w-container {
		max-width: 728px;
	}
	.w-hidden-main {
		display: inherit !important;
	}
	.w-hidden-medium {
		display: none !important;
	}
	.w-col-medium-1 {
		width: 8.33333333%;
	}
	.w-col-medium-2 {
		width: 16.66666667%;
	}
	.w-col-medium-3 {
		width: 25%;
	}
	.w-col-medium-4 {
		width: 33.33333333%;
	}
	.w-col-medium-5 {
		width: 41.66666667%;
	}
	.w-col-medium-6 {
		width: 50%;
	}
	.w-col-medium-7 {
		width: 58.33333333%;
	}
	.w-col-medium-8 {
		width: 66.66666667%;
	}
	.w-col-medium-9 {
		width: 75%;
	}
	.w-col-medium-10 {
		width: 83.33333333%;
	}
	.w-col-medium-11 {
		width: 91.66666667%;
	}
	.w-col-medium-12 {
		width: 100%;
	}
	.w-col-stack {
		width: 100%;
		left: auto;
		right: auto;
	}
}

@media screen and (max-width: 767px) {
	.w-hidden-main {
		display: inherit !important;
	}
	.w-hidden-medium {
		display: inherit !important;
	}
	.w-hidden-small {
		display: none !important;
	}
	.w-row,
	.w-container .w-row {
		margin-left: 0;
		margin-right: 0;
	}
	.w-col {
		width: 100%;
		left: auto;
		right: auto;
	}
	.w-col-small-1 {
		width: 8.33333333%;
	}
	.w-col-small-2 {
		width: 16.66666667%;
	}
	.w-col-small-3 {
		width: 25%;
	}
	.w-col-small-4 {
		width: 33.33333333%;
	}
	.w-col-small-5 {
		width: 41.66666667%;
	}
	.w-col-small-6 {
		width: 50%;
	}
	.w-col-small-7 {
		width: 58.33333333%;
	}
	.w-col-small-8 {
		width: 66.66666667%;
	}
	.w-col-small-9 {
		width: 75%;
	}
	.w-col-small-10 {
		width: 83.33333333%;
	}
	.w-col-small-11 {
		width: 91.66666667%;
	}
	.w-col-small-12 {
		width: 100%;
	}
}
@media screen and (max-width: 479px) {
	.w-container {
		max-width: none;
	}
	.w-hidden-main {
		display: inherit !important;
	}
	.w-hidden-medium {
		display: inherit !important;
	}
	.w-hidden-small {
		display: inherit !important;
	}
	.w-hidden-tiny {
		display: none !important;
	}
	.w-col {
		width: 100%;
	}
	.w-col-tiny-1 {
		width: 8.33333333%;
	}
	.w-col-tiny-2 {
		width: 16.66666667%;
	}
	.w-col-tiny-3 {
		width: 25%;
	}
	.w-col-tiny-4 {
		width: 33.33333333%;
	}
	.w-col-tiny-5 {
		width: 41.66666667%;
	}
	.w-col-tiny-6 {
		width: 50%;
	}
	.w-col-tiny-7 {
		width: 58.33333333%;
	}
	.w-col-tiny-8 {
		width: 66.66666667%;
	}
	.w-col-tiny-9 {
		width: 75%;
	}
	.w-col-tiny-10 {
		width: 83.33333333%;
	}
	.w-col-tiny-11 {
		width: 91.66666667%;
	}
	.w-col-tiny-12 {
		width: 100%;
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
