<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Capstone</title>
</head>

<body>

      {% block content %}
      {% endblock content %}


      {% block content2 %}

      {% endblock content2 %}


      {% block content3 %}

      {% endblock content3 %}


      {% block content4 %}

      {% endblock content4 %}

      {% block content5 %}

      {% endblock content5 %}
      {% block content6 %}

      {% endblock content6 %}
      {% block content7 %}

      {% endblock content7 %}




</body>

</html>